
<div class="container container-workspace">
    <div class="row" style="height: 80%">
        <div class="col-4" >
          <div class="card" style="height: 100%">
            <div class="card-body">
                <h6 style="color:goldenrod; font-weight: bold;">Create Session</h6>

              <%= form_for @session, url:sessions_path, action:'post'  do |f|%>
               <% if @session.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(message.errors.count, "error") %> prohibited this message from being saved:</h2>
                    <ul>
                      <% message.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                      <% end %>
                            </ul>
                  </div>
                <% end %>
                  <div class="field" style="margin: 1%;">
                    <%= f.label :title, class:"form-label", style:"color:dodgerblue" %><br />
                    <%= f.text_field :title, autofocus: true, class:"form-control" %>
                  </div>
                  <div class="field" style="margin: 1%;">
                    <%= f.label :agenda, class:"form-label", style:"color:dodgerblue" %><br />
                    <%= f.text_area :agenda, autofocus: true, class:"form-control", placeholder:"item1; item2; lastitem" %>
                  </div>

                  <!-- #@refact range - cannot start or end before Time.now -->
                  <!-- #@refact range - datetime format - on location - dd/mm/yyyy default -->

                  <div class="field" style="margin: 1%;">
                    <%= f.label :s_time, 'Starting at:', class:"form-label", style:"color:dodgerblue" %><br />
                    <%= f.datetime_local_field :s_time, autofocus: true, class:"form-control" %>
                  </div>
                  <div class="field" style="margin: 1%;">
                    <%= f.label :e_time, 'Ending at:', class:"form-label", style:"color:dodgerblue" %><br />
                    <%= f.datetime_local_field :e_time, autofocus: true, class:"form-control" %>
                  </div>

                  <!-- #@refact add invite user / groups? - user list: invite list -->
                  
                  <div class="actions" style="margin: 1%;" >
                    <%= f.submit "Create",  class:"btn btn-primary", style:"background-color:dodgerblue;color:white;font-weight:bold;margin-top:10px;margin-bottom:8px; width:100%" %>
                  </div>
              <% end %>


            </div>

            <hr>

            <div class="card-body">
              <h6 style="color:goldenrod; font-weight: bold;">Add Session</h6>
              <%= form_for :invited, url: addsession_path do |f| %>
              <div class="field">
                <%= f.label "Invite Code:", class:"form-label" %>
                <%= f.text_field :invited, class:"form-control" %>
              </div>           
                <%= f.submit "Add Session",  class:"btn btn-secondary"%>
              <% end %> 
            </div>

          </div>
        </div>
        <div class="col-8">
          <div class="card" style="height: 100%">
            <div class="card-body"> 
             <% @sessions.each do |session| %>
             <div class="card text-center bblue" style="margin: 2px auto; border-radius:0px">
              <div class="card-body">
                <h5 class="card-title purpletext"><%= session.title %></h5>
                <hr>
                <p class="card-text">
                <ul class="list-group list-group-horizontal-sm session-tags">
                   <% session.agenda.each do |tag|%>
                    <li class="list-group-item pillitem">
                      <a class="pillitem"  href="<%=tag.parameterize.underscore%>"> <%= tag.to_s %></a>             
                   </li>
                   <% end %> 
                </ul>
                </p>
                <hr >

               <section class="sbuttons">
              
                 <%= link_to "View", session_path(session.id), class:"btn btn-session dblue"  %>
                <% if isjoinable?(session) %>
                  <%= link_to "Join", showdown_joins_path(session.showdown.id), class:"btn btn-session cgreen"  %>
                <% end %>
                <% if session.users.ids.include?(@u)  %> <!-- #@@refact if createor/moderator-->
                  <a href="#" class="btn btn-session purple">Edit</a>
                <% end %>
               </section>
              </div>
              <div class="card-footer timing">
                <%=  futurepast(session.s_time) %>
              </div>
            </div>

              <% end %>
            </div>
              

          </div>
        </div>
      </div>
  </div>
    

















<script>
  x= document.querySelector('.alert');
  function hideNotice(x) { if(x) { setInterval(function() {x.style.display = "none";}, 5000); }}
  hideNotice(x);
</script>