
<div class="container" style="border:2px solid #4ECAC4">
    <div class="row" style="height: 80%">
        <div class="col-4" >
          <div class="card" style="height: 100%">
            <div class="card-body">
                <h6 style="color:goldenrod; font-weight: bold;">Create Session</h6>

              <%= form_for @session, url:sessions_path, action:'post'  do |f|%>
                  <div class="field" style="margin: 1%;">
                    <%= f.label :title, class:"form-label", style:"color:dodgerblue" %><br />
                    <%= f.text_field :title, autofocus: true, class:"form-control" %>
                  </div>
                  <div class="field" style="margin: 1%;">
                    <%= f.label :agenda, class:"form-label", style:"color:dodgerblue" %><br />
                    <%= f.text_area :agenda, autofocus: true, class:"form-control", placeholder:"item1; item2; lastitem" %>
                  </div>

                  <!-- #@refact range - cannot start or end before Time.now -->
                  <!-- #@refact range - datetime format - on location - dd/mm/yyyy default -->

                  <div class="field" style="margin: 1%;">
                    <%= f.label :s_time, 'Starting at:', class:"form-label", style:"color:dodgerblue" %><br />
                    <%= f.datetime_local_field :s_time, autofocus: true, class:"form-control" %>
                  </div>
                  <div class="field" style="margin: 1%;">
                    <%= f.label :e_time, 'Ending at:', class:"form-label", style:"color:dodgerblue" %><br />
                    <%= f.datetime_local_field :e_time, autofocus: true, class:"form-control" %>
                  </div>

                  <!-- #@refact add invite user / groups? - user list: invite list -->
                  
                  <div class="actions" style="margin: 1%;" >
                    <%= f.submit "Create",  class:"btn btn-primary", style:"background-color:dodgerblue;color:white;font-weight:bold;margin-top:10px;margin-bottom:8px; width:100%" %>
                  </div>
              <% end %>


            </div>

            <hr>

            <div class="card-body">
              <h6 style="color:goldenrod; font-weight: bold;">Add Session</h6>
              ||||||||||||||||||||||||||||||||  add ->
            </div>

          </div>
        </div>
        <div class="col-8">
          <div class="card" style="height: 100%">
            <div class="card-body"> 
             <% @sessions.each do |session| %>
             <div class="card text-center bblue" style="margin: 2px auto; border-radius:0px">
              <div class="card-body">
                <h5 class="card-title orangetext"><%= session.title %></h5>
                <p class="card-text">
                  <%= itempills(session.agenda) %> 
                </p>
                <a href="#" class="btn btn-session dblue">Preview</a>
                <a href="#" class="btn btn-session cgreen">Join</a>
              </div>
              <div class="card-footer">
                <%=  futurepast(session.s_time) %>
              </div>
            </div>

              <% end %>
            </div>
              

          </div>
        </div>
      </div>
  </div>
    

















<script>
  x= document.querySelector('.alert');
  function hideNotice(x) { if(x) { setInterval(function() {x.style.display = "none";}, 5000); }}
  hideNotice(x);
</script>