<!DOCTYPE html>
<html>
  <head>
    <title>Honestly</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <div class="container">
      <div class="row top-user" style="margin-top:1%; " >
          <div class="col-3"> 
            <% if !isonlanding? %>
             <%=image_tag 'honestly.png', :style => "width:136px" %> 
            <% end %>
          </div>
          <div class="col-9">
            <p class="text" style="text-align-last: right; width:100%; margin: 0 auto; padding-top:5px">
              <% if user_signed_in? %> 
              <%= link_to current_user.name, workspace_path(current_user.id), class:'btn btn-outline-primary' %>   
              <%=link_to 'Log Out', destroy_user_session_path, :method=> :delete, class:'btn btn-outline-danger' %>
            </p>
          </div>
           <% end %>             
    </div>

    <% flash.each do |key, value| %>
      <%= content_tag(:div, class: "alert alert-#{key} alert-dismissable") do %>
        <%= value %>
        
      <% end %> 
    <% end %>

    <%= yield %>
   </div>
 
 </body>
</html>
